<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DESpeedrunUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DESpeedrunUtil.Properties.Settings>
            <setting name="DownScrollKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpScrollKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MacroEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeysEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultFPSCap" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="StartupUnlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDynamic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinResPercent" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TargetFPSScaling" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ResScaleKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SteamInstallation" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamID3" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceProfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetectedUpdate" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="EnableMaxFPSLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFPSLimitWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraGameDirectories" serializeAs="String">
                <value />
            </setting>
            <setting name="AntiAliasing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UNDelay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoContinue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTSSPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchRTSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimalOSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrainerOSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSpeedometer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncreasedPrecision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondaryVelocity" serializeAs="String">
                <value>1</value>
            </setting>
        </DESpeedrunUtil.Properties.Settings>
    </userSettings>
    <appSettings>
      <add key="SendKeys" value="SendInput"/>
    </appSettings>
</configuration>